.jumbotron {
    color: darkcyan;
    background-image: url('https://wallpaperstream.com/wallpapers/full/moon-hd/Moon-Stars-and-Wolf-Tree-Silhouette-View.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card-title{
    color:darkcyan;
}

.card-subtitle{
    color:darkblue;
}

h1{
    background-color: whitesmoke;
    opacity: 0.6;
}

.container{
    background-color: whitesmoke;
}
