.jumbotron {
    color: darkcyan;
    background-image: url('https://wallpaperstream.com/wallpapers/full/moon-hd/Moon-Stars-and-Wolf-Tree-Silhouette-View.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card-title{
    color:darkcyan;
}

.card-subtitle{
    color:darkblue;
}

h1{
    background-color: whitesmoke;
    opacity: 0.6;
}

.container{
    background-color: whitesmoke;
}

/* Navbar container */
.navbar {
    background-color:darkcyan;
    font-family: Arial;
  }

  /*---------------*/
  /* Links inside the navbar */
  .navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: lightgray;
    color: darkcyan;
  }
 
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: lightgrey;
  }
  
  /*Highlight current page*/
  a.active{
    background-color: whitesmoke;
    color: darkcyan;
  }

  .dropbtn.active{
    background-color: whitesmoke;
    color: darkcyan;
  }